header.header-area .navbar{
    display: flex;
    flex-direction: row;
}
header.header-area .navbar-toggler{
    margin-left: auto;
    border: 1px solid var(--light);
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.navbar-nav .nav-link{
    padding: 0 1vw;
}
.navbar-nav .nav-link:hover{
    color: var(--primary-color);
}
.header-area .navbar-brand{
    font:normal 700 1.1rem var(--font-mont);
}
.header-area .search .form-inline{
    background: var(--light);
    box-shadow: var(--box-shadow);
}
.header-area .search .form-control{
    border: none;
    padding: .6rem 1rem;
    background: transparent;
    font: normal 300 .9rem var(--font-Rale);
}
.header-area .search .btn{
    border:none;
    padding: .8rem 1rem;
    cursor: pointer;
    transition: background .5s ease; 
    background-color: #bdc4ca;
    border-radius: 0px;
}
.header-area .search .btn:hover{
    background: var(--primary-color);
    border-radius: 0px;
}